__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
myenv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.bak
explain.txt
.vscode/
.idea/
src/file_metadata.db
src/assets/files/
