GROQ_API_KEY=""
MODEL_NAME="llama-3.3-70b-versatile"

LANGCHAIN_TRACING_V2=true

LANGCHAIN_API_KEY=

LANGCHAIN_PROJECT=MVC_Project

LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

FILE_ALLOWED_TYPES =["text/plain","application/pdf"]

FILE_MAX_SIZE=20

APP_NAME="RAG_Project"
APP_VERSION="0.1"
FILE_DEFAULT_CHUNK_SIZE= 512000
chunk_overlap = 
chunk_size=
EMBEDDING_MODEL_NAME="sentence-transformers/all-MiniLM-L6-v2"
persist_directory = "chroma_db"
collection_name = "Files_1"

TOP_K_RERANKER=3
TOP_K_BM25=3
TOP_K_HYBRID=3
REDIS_HOST = "localhost"
REDIS_PORT = 6379