APP_NAME="RAG_Project"
APP_VERSION="0.1"
API_BASE_URL="http://127.0.0.1:8000"

MODEL_NAME="command-a-03-2025"


COHERE_API_KEY=""

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=MVC_Project
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

FILE_ALLOWED_TYPES=["text/plain","application/pdf"]
FILE_MAX_SIZE=20
os.environ['HF_HUB_OFFLINE'] = '1'
FILE_DEFAULT_CHUNK_SIZE= 512000

TAVILY_API_KEY=""


FLASH_MODEL_RERANKER=""ms-marco-TinyBERT-L-2-v2""
fLASH_CACHE_DIR=""
SPLADEE_MODEL_NAME="prithvida/Splade_PP_en_v1"

chunk_size=700
TOP_K_TAVILY=3
chunk_overlap=200
do_reset=0

EMBEDDING_MODEL_NAME="models/gemini-embedding-001"
TOP_K_RERANKER=3
TOP_K_BM25=3
TOP_K_HYBRID=3

REDIS_HOST = "localhost"
REDIS_PORT = 6379
TELEGRAM_BOT_TOKEN=""

GOOGLE_API_KEY=""

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=rag_documents

DENSE_SEARCH_WEIGHT=0.8
SPARSE_SEARCH_WEIGHT=0.2